body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(320deg,#d65282,#a64db8,#60c4b0);
}

#display {
    width: 282px;
    margin-bottom: 10px;
    height: 25px;
    text-align: end;
    outline: none;
    border-radius: 10px;
}

.display {
    width: 290px;
    flex-wrap: wrap;
}

#clear {
    width: 130px;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.795);
    background-color: #f1b775;
}

#calculate {
    font-weight: bold;
    color: rgba(245, 245, 245, 0.795);
    background-color: #f1b775;
}


button {
    cursor: pointer;
    font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin: 4px;
    color: rgba(34, 37, 37, 0.856);
}

.wadah {
    padding: 14px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(225, 225, 225, 0.75);
    border: 1px solid rgba(24, 22, 22, 0.01);
}















