body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(320deg,#eb92b3,#ffef78,#63c9b4);
}

#display {
    width: 282px;
    margin-bottom: 10px;
    height: 25px;
    text-align: end;
    outline: none;
}

.display {
    width: 290px;
    flex-wrap: wrap;
}

#clear {
    width: 130px;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.795);
    background-color: #65d8e0;
}

#calculate {
    font-weight: bold;
    color: rgba(245, 245, 245, 0.795);
    background-color: #eb92b3;
}


button {
    cursor: pointer;
    font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin: 4px;
    color: rgba(26, 53, 56, 0.856);
}

.wadah {
    padding: 14px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(225, 225, 225, 0.75);
    border: 1px solid rgba(225,225,225,0.01);
}















